/*
	STRUCTURE:
	0. Layers and imports
	1. Global custom properties
	2. Global and inherited styles
	3. Composition / Layout primitives
	4. Utility classes
	5. Blocks
	6. Exceptions
*/

/* ============ 0. LAYERS AND IMPORTS ============ */

@layer base;

@import url("../base.css") layer(base);

/* ============ 1. GLOBAL CUSTOM PROPERTIES ============ */

/* ============ 2. GLOBAL AND INHERITED STYLES ============ */

* {
	margin: 0;
}

body {
	padding: 1rem;
}

input {
	max-inline-size: 40rem;
}

[type="search"] {
	inline-size: 100%;
}

/* ============ 3. COMPOSITION / LAYOUT PRIMITIVES ============ */

/* Cluster
   ======================================== */

[class*="cluster"] {
	display: flex;
	flex-wrap: wrap;
	gap: var(--space, 0);
	align-items: flex-start;
}

[class*="cluster"] > * {
	margin-block: 0;
}

.cluster-lg {
	--space: 2rem;
}

.cluster-md {
	--space: 1rem;
}

.cluster-sm {
	--space: 0.5rem;
}

.cluster-xs {
	--space: 0.5rem;
}

/* Grid
   ======================================== */

.grid {
	/* The minimum value for the `min()` function */
	--minimum: 25rem;

	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(min(100%, var(--minimum)), 1fr));
	gap: var(--space, 0);
}

/* List Unstyled
   ======================================== */

.list-unstyled {
	padding-inline-start: 0;
	list-style-type: none;
}

/* Sidebar
   ======================================== */

[class*="with-sidebar-"] {
	/* The width of the sidebar (empty means not set; defaults to the content width) */
	--sidebar-width: 0;

	/* The narrowest the content (main) element can be before wrapping. Should be a percentage */
	--not-sidebar-min-width: 66.66%;

	display: flex;
	flex-wrap: wrap;
	gap: var(--space);
}

[class*="with-sidebar-"] > * {
	flex-grow: 1;
}

.with-sidebar-left > :nth-child(2) {
	flex-basis: var(--sidebar-width, 0);
	flex-grow: 999;
	min-inline-size: var(--not-sidebar-min-width, 66.66%);
}

.with-sidebar-right > :nth-child(1) {
	flex-basis: var(--sidebar-width, 0);
	flex-grow: 999;
	min-inline-size: var(--not-sidebar-min-width, 66.66%);
}

/* Stack
   ======================================== */

[class*="stack"] {
	display: flex;
	flex-direction: column;
}

[class*="stack"][data-layout="center"] {
	align-items: center;
}

[class*="stack"] > * {
	margin-block: 0;
}

[class*="stack"] > * + * {
	margin-block-start: var(--space, 1rem);
}

.stack-lg > * + * {
	--space: 2rem;
}

.stack-md > * + * {
	--space: 1rem;
}

.stack-sm > * + * {
	--space: 0.5rem;
}

.stack-xs > * + * {
	--space: 0.25rem;
}

/* Switcher
   ======================================== */

.switcher {
	/* The container width at which the component switches between a horizontal and vertical layout */
	--threshold: 20rem;

	display: flex;
	flex-wrap: wrap;
	gap: var(--space, 0);
}

.switcher > * {
	flex-basis: calc((var(--threshold) - 100%) * 999);
	flex-grow: 1;
}

.switcher > :nth-last-child(n + 3),
.switcher > :nth-last-child(n + 3) ~ * {
	flex-basis: 100%;
}

/* ============ 4. UTILITY CLASSES ============ */

.text-center {
	text-align: center;
}

.visually-hidden {
	position: absolute !important;
	inline-size: 1px !important;
	block-size: 1px !important;
	overflow: hidden !important;
	clip-path: inset(50%) !important;
	white-space: nowrap !important;
}

.wrapper {
	inline-size: 100%;
	max-inline-size: 110rem;
	margin-inline: auto;
}

/* ============ 5. BLOCKS ============ */

/* Site Header
   ======================================== */

.site-header {
	display: flex;
	flex-wrap: wrap;
	gap: 1rem;
	align-items: center;
	justify-content: space-between;
}
